<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
	<title>Login</title>
</head>

<body>

	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>
		<div class="page-header">
			<h1>Login</h1>
		</div>
		<p th:if="${loginError}" class="error">Wrong user or password</p>


		<form action="#" th:action="@{/login}"  method='post'>
		<div class="form-group">
				<label for="username">Username</label> <input
					id="username" class="form-control" type="text" name="username"
					 />
				<label for="password">Password</label> <input
					id="password" class="form-control" type="password" name="password"
					/>

			</div>

			<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>
	</div>
</body>

</html>