<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="headerfiles">
	<!--Style Sheets-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.min.css}"></link>

    <!--Java Script-->
    <script th:src="@{/js/jquery-3.2.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- navigation bar -->
	<div th:fragment="navbar">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" th:href="@{/files}">Files</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="#" th:href="@{/users}">Users</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" >
                <a class="nav-link" href="#" th:href="@{/self}">Account</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" >
                <a class="nav-link" href="#" th:href="@{/logout}">Log out</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item" >
                <a class="nav-link" href="#" th:href="@{/register}">Register</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item" >
                <a class="nav-link" href="#" th:href="@{/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>
      </div>

	
</body>
</html>