<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error</title>
<th:block th:include="fragments/general.html :: headerfiles">
</head>
<body>
	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>
		<div class="page-header">
			<h1 th:if="${title}" th:text="${title}">Error title</h1>
			<h1 th:if="${title == null}">An error has occurred</h1>
		</div>
		<p id="created" th:text="${#dates.format(timestamp)}"></p>

		<p th:if="${error != null}" th:text="'Type: ' + ${error}"></p>
		<p th:if="${status != null}" th:text="'Code: ' + ${status}"></p>
		<p th:if="${message != null}"><b th:text="${message}"></b></p>
	</div>
</body>
</html>
