<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
	<script th:src="@{/js/jquery.form-validator.min.js}"></script>
	<title>Upload File</title>
</head>
<body>

	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>

		<div class="page-header">
			<h1 th:text="${page.name}" ></h1>
			<h3>New File</h3>
		</div>
		<div th:if="${message}" th:text="${message}" class="alert alert-danger" role="alert"></div>

		<br>
		<form method="POST" enctype="multipart/form-data"
			th:action="@{/files/{directory}/new(directory=${page.directory})}">
			<div class="form-group">
				<label for="inputFile">File to upload:</label> <input
					class="form-control" id="inputFile" type="file" name="file" />
				<button type="submit" value="Submit" class="btn btn-primary">Upload</button>
				<a class="btn btn-secondary" th:href="@{/files/{directory}(directory=${page.directory})}">Back</a>
			</div>

		</form>


	</div>

</body>
</html>