<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.form-validator.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<title>New Page</title>
</head>

<body class="bg-light">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header"></div>
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
		<h1>New Page</h1>
		</div>

		<h1>Form</h1>
    <form action="#" th:action="@{/pages/new}" th:object="${page}" method="post">
    	<p>Page Name<input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

	</div>
</body>

</html>