<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
	<title>Login</title>
</head>

<body>

	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>
		<div class="page-header">
			<h1>Login</h1>
		</div>



		<form action="#" th:action="@{/login}" th:object="${user}" method='post'>
		<div class="form-group">
				<label for="inputUserName">Username</label> <input
					id="inputUserName" class="form-control" type="text"
					th:field="*{username}" />
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Content
					error message</p>
				<label for="inputPassword">Password</label> <input
					id="inputPassword" class="form-control" type="password"
					th:field="*{password}" />
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Content
					error message</p>
					<!-- 
				<label for="inputDisplayName">Display Name</label> <input
					id="inputDisplayName" class="form-control" type="text"
					th:field="*{displayName}" />
				<p th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}">Content
					error message</p>
					-->
			</div>

			<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>


	</div>
</body>

</html>