<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
</th:block>
<title>CollinsEzzio File Server</title>
</head>

<body>

	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>

		<div class="page-header">
			<h1>Pages</h1>
		</div>

		<p sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-success" th:href="@{/pages/new}">New Page</a>
		</p>

		<ul class="list-group" th:if="${pages.empty}">
			<li class="list-group-item">No content available</li>
		</ul>

		<div class="list-group">

			<a th:each="page : ${pages}"
				th:href="@{/files/{directory}(directory=${page.directory})}"
				th:text="${page.name}"
				class="list-group-item list-group-item-action"> <!--/* 
              <div class="media-body">

                <h4 class="media-heading" th:text="${page.name}">Page Name</h4>
                <p th:if="${page.description}" th:text="${page.description}">Description</p>
              </div>
              <div class="media-right" >

                <img th:if="${page.thumbnail}" class="media-object img-thumbnail" th:src="${page.thumbnail}" th:alt="${page.name}"width="140" hight="140" />
              </div>
				*/-->
			</a>
		</div>

	</div>
</body>

</html>