<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
        </th:block>
<title>CollinsEzzio File Server</title>
</head>

<body>
	
	
	<div class="container">
	<div th:include="fragments/general.html :: navbar"></div>
		<div class="page-header">
			<h1>Pagesssss</h1>
		</div>
		
		<a th:href="@{/pages/new}"><button>New Page</button></a>
		
        <table>
    <thead>
        <tr>
            <th> Page </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${pages.empty}">
            <td colspan="2"> No content available </td>
        </tr>
        <tr th:each="page : ${pages}">
            <td><a th:text="${page.name}"  th:href="@{/files/{directory}(directory=${page.directory})}"></a></td>
        </tr>
    </tbody>
</table>
   
		
	</div>
</body>

</html>