<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.form-validator.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<title>CollinsEzzio File Server</title>
</head>

<body class="bg-light">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header"></div>
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
			<h1>Pages</h1>
		</div>
		
		<a th:href="@{/pages/new}"><button>New Page</button></a>
		
        <table>
    <thead>
        <tr>
            <th> Page </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${pages.empty}">
            <td colspan="2"> No content available </td>
        </tr>
        <tr th:each="page : ${pages}">
            <td><a th:text="${page.name}"  th:href="@{/files/{directory}(directory=${page.directory})}"></a></td>
        </tr>
    </tbody>
</table>
   
		
	</div>
</body>

</html>