<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block th:include="fragments/general.html :: headerfiles">
	<title th:text="${page.name}">Title</title>
</head>

<body>

	<div class="container">
		<div th:include="fragments/general.html :: navbar"></div>
		<div class="page-header">
			<h1 th:text="${page.name}">Title</h1>
			<!--/* {{#if banner}}
	      <div class="container">
		    <img src="{{banner}}" alt="banner photo" class="img-responsive center-block" />
	      </div>
	      {{/if}}
          {{#if title}}
          <h1>{{title}}</h1> {{/if}} {{#if description}}
          <h4>{{description}}</h4> {{/if}}

          <div class="btn-group" role="group">
            {{#if download_link}}
            <a href="{{download_link}}" class="btn btn-default" role="button" download>Download All</a> {{/if}}
          </div>
           */-->
		</div>



		<a sec:authorize="hasAuthority('PRIVILEGE_WRITE')" class="btn btn-success"
			th:href="@{/files/{directory}/new(directory=${page.directory})}">Upload
			File</a>
			<br><br>


		<ul class="list-group" th:if="${files.empty}">
			<li class="list-group-item">No content available</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item" th:each="file : ${files}">
				<div class="media-body">
					<h4 class="list-group-item-heading" th:text="${file.name}">File
						name</h4>
					<!--/* 
					{{#if description}}
					<p class="list-group-item-text">{{description}}</p>
					{{/if}}
					*/-->

				</div>
				<div class="media-left">
					<a class="btn btn-info"
						th:href="@{/files/download/{directory}/{fileName}(directory=${page.directory}, fileName=${file.name})}"
						th:download="${file.name}" role="button">Download</a>
				</div>

				<div class="media-right"></div>

			</li>

		</ul>


	</div>
</body>

</html>