<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.form-validator.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<title th:text="${page.name}">Title</title>
</head>

<body class="bg-light">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header"></div>
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
		<h1 th:text="${page.name}">Title</h1>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Files</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${files.empty}">
					<td colspan="2">No content available</td>
				</tr>
				<tr th:each="file : ${files}">
					<td><a th:text="${file.name}"  th:href="@{/files/download/{directory}/{fileName}(directory=${page.directory}, fileName=${file.name})}"></a></td>
				</tr>
			</tbody>
		</table>


	</div>
</body>

</html>